*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:#0B132B;
color:white;

}

header{

background:#1C2541;

padding:20px;

display:flex;

justify-content:space-between;

align-items:center;

}

header a{

color:white;
text-decoration:none;

}

.container{

width:90%;
max-width:1200px;

margin:40px auto;

display:grid;

grid-template-columns:1fr 2fr;

gap:30px;

}

.formulario{

background:#1C2541;

padding:25px;

border-radius:15px;

}

.formulario label{

display:block;

margin-top:15px;

}

.formulario input,
textarea,
select{

width:100%;

padding:10px;

margin-top:5px;

border:none;

border-radius:8px;

}

textarea{

height:120px;

resize:none;

}

button{

width:100%;

padding:12px;

margin-top:20px;

border:none;

background:#5BC0BE;

color:white;

font-size:18px;

border-radius:10px;

cursor:pointer;

}

button:hover{

background:#3A506B;

}

.lista{

background:#1C2541;

padding:25px;

border-radius:15px;

}

table{

width:100%;

border-collapse:collapse;

}

th{

background:#3A506B;

padding:12px;

}

td{

padding:12px;

text-align:center;

border-bottom:1px solid #555;

}

.editar{

background:#28a745;

}

.excluir{

background:#dc3545;

}

.acoes button{

width:auto;

padding:8px 12px;

margin:3px;

}

@media(max-width:800px){

.container{

grid-template-columns:1fr;

}

}