*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:#0B132B;
color:white;

}

header{

background:#1C2541;

padding:20px;

display:flex;

justify-content:space-between;

align-items:center;

}

header a{

color:white;
text-decoration:none;

}

.container{

width:95%;
max-width:1300px;

margin:40px auto;

}

.filtros{

display:flex;

gap:15px;

margin-bottom:25px;

flex-wrap:wrap;

}

.filtros input,
.filtros select{

padding:10px;

border:none;

border-radius:8px;

font-size:16px;

}

table{

width:100%;

border-collapse:collapse;

background:#1C2541;

border-radius:15px;

overflow:hidden;

}

th{

background:#3A506B;

padding:15px;

}

td{

padding:15px;

text-align:center;

border-bottom:1px solid #444;

}

.status{

font-weight:bold;

}

.aberto{

color:#ff5b5b;

}

.andamento{

color:#ffc107;

}

.finalizado{

color:#28d17c;

}

button{

padding:8px 12px;

border:none;

border-radius:8px;

cursor:pointer;

margin:2px;

}

.excluir{

background:#dc3545;

color:white;

}

.statusBtn{

background:#5BC0BE;

color:white;

}

@media(max-width:900px){

table{

font-size:14px;

overflow-x:auto;

display:block;

}

}