*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0B132B;
color:white;
}

header{

background:#1C2541;

padding:20px;

display:flex;

justify-content:space-between;

align-items:center;

}

header a{

color:white;
text-decoration:none;

}

.container{

width:90%;
max-width:1200px;

margin:40px auto;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:20px;

margin-bottom:40px;

}

.card{

padding:30px;

border-radius:15px;

text-align:center;

box-shadow:0 5px 20px rgba(0,0,0,.3);

}

.card h2{

font-size:45px;

margin-bottom:10px;

}

.total{

background:#3A506B;

}

.aberto{

background:#dc3545;

}

.andamento{

background:#ffc107;

color:#000;

}

.finalizado{

background:#28a745;

}

.grafico{

background:#1C2541;

padding:25px;

border-radius:15px;

}